<html>
    <body>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/protected">Protected</a></li>
            </ul>
        </nav>
        <h1>About Page</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Velit perferendis pariatur quisquam reprehenderit sequi ab, eaque mollitia exercitationem ipsam aperiam nisi illo voluptatem nobis temporibus voluptatum iure, architecto enim beatae.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius voluptatum error, blanditiis dolore veniam dolores nesciunt quas nulla saepe facere harum, nostrum quisquam laborum rerum. Omnis rerum distinctio in aspernatur.</p>
    </body>
</html>