<html>
    <body>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/protected">Protected</a></li>
            </ul>
        </nav>
		<h1>Login:</h1>
        <form action="/" method="POST">
            <input name="username" type="name" placeholder="Username" />
            <input name="password" type="password" placeholder="Password" />
            <button type="submit">Login</button>
        </form>
    </body>
</html>